body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 4.375rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

/* CLASS SELECTOR */

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.intro {
  width: 33%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.circular {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.color {
  color: #66BFBF;
  font-weight: normal;
  padding: 22px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3ef7f4), color-stop(1, #14b5aa) );
	background:-moz-linear-gradient( center top, #3ef7f4 5%, #14b5aa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ef7f4', endColorstr='#14b5aa');
	background-color:#3ef7f4;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
  text-indent:0;
	border:1px solid #4e6096;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight: normal;
	font-style:normal;
  height:50px;
	line-height:50px;
  width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #283966;
  }

.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14b5aa), color-stop(1, #3ef7f4) );
	background:-moz-linear-gradient( center top, #14b5aa 5%, #3ef7f4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14b5aa', endColorstr='#3ef7f4');
	background-color:#14b5aa;
}

.btn:active {
	position:relative;
	top:1px;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.code {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.music {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
